.contact__button--default{
font-family: $raleway;
color: $granite-gray;
font-weight:$bold;
border-radius:36px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
width:250px;
margin-left:550px;
margin-top:30px;
margin-bottom:30px;
}
