body{
  font-family: Raleway, sans-serif;
}

h4{
  font-family: Raleway, sans-serif;
  font-weight:$bold;
  font-size:$large;
}

.section__2{
  color: $granite-gray;
  text-align:center;
}

p{
  margin-left:250px;
  margin-right:250px;
}
