.header{
  height:500px;
  background-color:$jelly-bean;
  padding:0;
}

.nav__logo{
  width:150px;
  margin-bottom:5px;
  margin-top: 5px;
}

.header__title{
  color: $white;
  text-align:center;
  padding-top:120px;
  font-size: $x-large;
  font-weight: $extra-light;
}

.header__title--emphasis{
  font-weight:$bold;
  color: $white;
}

.header__title--emphasis--size-xxl{
  font-size:$xx-large;
}
