
.main__page--1{
  background-color: $taupe-gray;
  padding-bottom:20px;
  img{
  width:900px;
  align: center;
  padding-top:20px;
  margin-left: 200px;
  }
}

.main__section__title--1{
  color: $white;
  text-align: center;
  margin-top:35px;
  margin-bottom:35px;
}

.main__section__text--1{
  color: $white;
  text-align: center;
}

.main__page--2{
  padding-bottom:20px;
  img{
  width:900px;
  align: center;
  padding-top:20px;
  margin-left: 200px;
  }
}

.main__section__title--2{
  text-align: center;
  color: $taupe-gray;
  margin-top:50px;
  margin-bottom:25px;
}

.main__section__text--2{
  text-align: center;
  color: $taupe-gray;
}

.main__section__text--margin{
margin-bottom:70px;
}

.main__img--margin{
  margin-top:70px;
}

.main__page--3--title{
  font-size: $x-large;
  background-color:$jelly-bean;
  color: $white;
  font-weight:$bold;
  text-align:center;
  padding-top:60px;
  padding-bottom:60px;
}

.main__page--3--img{
    width:400px;
    margin-left:470px;
}
